## General rules

# Build folders
dist/

# NPM packages
npm-debug.log
node_modules/

# Others
.DS_Store
~$*
Thumbs.db

## Project specific rules
src/index-*.html

src/settings/*
!src/settings/settings.ts
!src/settings/Readme.md
