<img src="https://www.woorklab.com/images/addtohere_logo.svg" alt="Woorklab">
<br>
<br>
<h2>Welcome to Angular web notifier</h2>
<br>
<br>
<button
    (click)="sendNotifier('todo','Todo notifier','Todo message content', 10000)"
    type="button"
    class="btn btn-primary m-2">
    Todo
</button>

<button
    (click)="sendNotifier('reminder','Reminder notifier','Reminder message content', 10000)"
    type="button"
    class="btn btn-secondary m-2">
    Reminder
</button>

<button
    (click)="sendNotifier('success','Success notifier','Success message content', 10000)"
    type="button"
    class="btn btn-success m-2">
    Success
</button>

<button
    (click)="sendNotifier('danger','Danger notifier','Danger message content', 10000)"
    type="button"
    class="btn btn-danger m-2">
    Danger
</button>

<button
    (click)="sendNotifier('warning','Warning notifier','Warning message content', 10000)"
    type="button"
    class="btn btn-warning m-2">
    Warning
</button>

<button
    (click)="sendNotifier('info','Info notifier','Info message content', 10000)"
    type="button"
    class="btn btn-info m-2">
    Info
</button>
